body {
  font-family: Georgia, serif;
  margin: 0;
}
html {
  background-color: rgb(240, 176, 188);
}
@media (prefers-color-scheme: dark) { html { background-color: rgb(255, 216, 223); } }
.home {
  font-size: 20px;
  background-color: rgb(247, 143, 160);
  color: rgb(255, 0, 0);
  font-family: 'Times New Roman', serif;
}
.center-words {
  color: rgb(255, 132, 124);
  font-weight: 800;
  font-style: italic; 
}
.titulo-inicial,
.strawberry,
.smoothie {
  font-size: 30px;
  align-items: stretch;
}
.cupcake {
  font-size: 30px;
}
.unicorn {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.instrucion {
  color: rgb(222, 49, 99);
  font-weight: 800;
}
.gitpage{
  background-color: rgb(250, 234, 162);
  color: #cf3939;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.container > div {
  padding: 4px;
  margin: 2px;
  text-align: center;
  background: rgb(255, 218, 185);
  border: 2px solid rgb(222, 49, 99);
  flex: 1 1 0%;
  flex-basis: 50px;
  justify-content: center;
}
.encabezado{
  background: rgb(255, 218, 185);
  border: 2px solid rgb(255, 192, 203);
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 8px;
  flex: 0 1 0;
  align-items: stretch;
  justify-content: center;
}
.container1{
  display: flex;
  background-image: url(https://gifdb.com/images/high/pinky-and-the-brain-keyboard-typing-sb81sja47ahac1l1.webp);
  flex-direction:row;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content:center;
  width: 1343px;
  height: 470px;
  align-content:flex-start;
  box-shadow: 1px 8px 6px  rgba(36, 3, 18, 0.502);
  margin-bottom: 1%;
}
.titulo-inicial{
  display: flex;
  color:  hsl(27, 94%, 79%);
  background-color: rgba(255, 173, 211, 0.502);
  margin: 2%;
  padding: 1%;
  font-size: 30px;
  font-weight:700;
  font-style: italic;
  width: 85%;
  justify-content: center;
  align-items:center;
  border-radius: 4%;
  box-shadow: 1px 9px 6px  rgba(36, 3, 18, 0.502);
  text-shadow: 3px 2px 6px rgb(90, 19, 6);
}
.center{
  display: flex;
  background-color:rgba(219, 85, 130, 0.8) ;
  font-size: 18px ;
  justify-content: center;
  align-items:center;
  text-align: center;
  padding: 2%;
  margin: 4%;
  flex-direction: column;
  box-shadow: 1px 9px 6px  rgba(36, 3, 18, 0.502);
}
.containerT{
  color: hsl(325, 79%, 58%);
  text-shadow: 3px 2px 6px rgb(90, 19, 6);
  text-align: center;
  font-size: 30px;
}
.containermini{
  display: flex;
  flex-direction: row;
  gap: 40px;
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/pastel-sunset-sky-amy-sorvillo.jpg);
  padding: 1%;
  width: auto;
  height: auto;
}
.container1-0{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: auto;
  height: auto;
  box-shadow: 1px 8px 6px  rgba(36, 3, 18, 0.502);
  align-content:flex-end;
  border-radius: 3%;
  padding: 1%;
}
.recipes-button{
  display: flex;
  font-size: 20px;
  text-align: center;
  background-color: rgb(242, 156, 170); 
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', serif;
  justify-content: center;
  align-items:center;
  text-align: center;
  align-content:flex-end;
  border-radius: 3%;
}
a{
  display: flex;
  flex-direction: column;
  border-radius: 16%;
}
button{
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: auto;
  height: auto;
  color: #cf3939;
  justify-content: center;
  align-items:center;
  text-align: center;
  align-content:flex-end;
  width: 98%;
}