body {
  font-family: Georgia, serif;
}
html {
  background-color: #fac8e3;
}
.recipes-button {
  font-size: 20px;
  background-color: hwb(350 61% 5%);
  color: white;
  font-family: 'Times New Roman', serif;
}
.home {
  font-size: 20px;
  background-color: #f78fa0;
  color: red;
  font-family: 'Times New Roman', serif;
}
.center-words {
  color: #FF847C;
  font-weight: 800;
  font-style: italic; 
}
.titulo,
.strawberry,
.smoothie {
  font-size: 35px;
}
.cupcake {
  font-size: 30px;
}
.unicorn {
  text-align: center;
  font-size: 22px;
}
.instrucion {
  color: #DE3163;
  font-weight: 800;
}
.title{
  font-size: 30px;
}
.gitpage{
  background-color: rgb(250, 219, 162);
  color: rgb(184, 92, 123);
}
.container {
  display: flex;
  flex-direction: row;
  /*Para recordar este elemento*/
}
.container > div {
  padding: 4px;
  margin: 2px;
  text-align: center;
  background: peachpuff;
  border: 2px solid #DE3163;
  flex: 1 1 0%;
  flex-basis: 50px;
}
.encabezado{
  background: peachpuff;
  border: 2px solid pink;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;
  flex: 0 1 0;

}
/* en pausa, for now.gif{
  background: peachpuff;
  border: 2px solid pink;
  height: 200px;
  margin-left: 485px;
  margin-right: 485px;
  padding: 5px;
  flex: 0 1 0;
}
*/
header{
  background-color: pink;
  padding: 5px;
  margin: 1%;
}
aside {
  background-color:rgb(250, 219, 162);
  padding: 1px;
  margin: 0%;
  text-align: center;
}
section{
  background-color: #f7b9e2;
  font-size: 15px;
  text-align: center;
  margin: 0
}


