body {
  font-family: Georgia, serif;
  margin: 0 ;
}
html {
  background-color: rgb(255, 216, 223);
}
@media (prefers-color-scheme: dark) { html { background-color: rgb(255, 216, 223); } }
.recipes-button {
  font-size: 20px;
  background-color: rgb(242, 156, 170); 
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', serif;
}
.home {
  font-size: 20px;
  background-color: rgb(247, 143, 160);
  color: rgb(255, 0, 0);
  font-family: 'Times New Roman', serif;
}
.center-words {
  color: rgb(255, 132, 124);
  font-weight: 800;
  font-style: italic; 
}
.titulo-inicial,
.strawberry,
.smoothie {
  font-size: 30px;
  align-items: stretch;
}
.cupcake {
  font-size: 30px;
}
.unicorn {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.instrucion {
  color: rgb(222, 49, 99);
  font-weight: 800;
}
.gitpage{
  background-color: rgb(250, 234, 162);
  color: #cf3939;
}
/*Box model*/
.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  /*Para recordar este elemento*/
}
.container > div {
  padding: 4px;
  margin: 2px;
  text-align: center;
  background: rgb(255, 218, 185);
  border: 2px solid rgb(222, 49, 99);
  flex: 1 1 0%;
  flex-basis: 50px;
  justify-content: center;
}
.encabezado{
  background: rgb(255, 218, 185);
  border: 2px solid rgb(255, 192, 203);
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 8px;
  flex: 0 1 0;
  align-items: stretch;
  justify-content: center;
}
/* en pausa, for now.gif{
  background: peachpuff;
  border: 2px solid pink;
  height: 200px;
  margin-left: 485px;
  margin-right: 485px;
  padding: 5px;
  flex: 0 1 0;
}
*/
/*Flexbox*/
.container1{
  display: flex;
  background-image: url(https://gifdb.com/images/high/pinky-and-the-brain-keyboard-typing-sb81sja47ahac1l1.webp);
  flex-direction:row;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content:center;
  width: 1340px;
  height: 450px;
  align-content:flex-start;
}
.titulo-inicial{
  display: flex;
  color: rgb(255, 194, 204);
  background-color: rgba(219, 85, 130, 0.5);;
  margin: 2%;
  padding: 1%;
  font-size: 30px;
  font-weight:700;
  font-style: italic;
}